<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.model.BoardMapper">
    
    
<!--     <select id="boardList" resultType="kr.smhrd.model.BoardVO">
        select * from t_board order by b_date desc
    </select> -->
    
    <!-- 게시글 리스트 -->
    <select id="board" parameterType="kr.smhrd.model.BoardVO" resultType="kr.smhrd.model.BoardVO">
		<!--select * from t_qna order by q_date desc  -->
		 select * from t_board where b_category = "0" order by b_date desc Limit 10 Offset #{postStart}
	</select>
	
    <!-- 페이지 총 amount -->
    <select id="boardAmount" resultType="int">
	    select count(*) from t_board where b_category = "0"
	</select>
    
    <insert id="boardInsert" parameterType = "kr.smhrd.model.BoardVO">
		insert into t_board(b_title, b_content, b_file, m_nick, b_category)
		values(#{b_title}, #{b_content}, #{b_file}, #{m_nick}, #{b_category})
    </insert>
    
    <!-- 게시글 조회 -->
    <select id = "boardContent" parameterType="int" resultType="kr.smhrd.model.BoardVO">
		select * from t_board where b_seq = #{b_seq}
    </select>
    
    <select id = "boardUpdateForm" parameterType="int" resultType="kr.smhrd.model.BoardVO">
		select * from t_board where b_seq = #{b_seq}
    </select>
    
    <update id="boardUpdate" parameterType = "kr.smhrd.model.BoardVO">
		update t_board set b_title = #{b_title}, b_content = #{b_content} where b_seq = #{b_seq}
    </update>
    
    
    <delete id="boardDelete">
		delete from t_board where b_seq = #{b_seq}
    </delete>
    
    
    
    
    <!-- 게시글 리스트 -->
    <select id="board2" parameterType="kr.smhrd.model.BoardVO" resultType="kr.smhrd.model.BoardVO">
		<!--select * from t_qna order by q_date desc  -->
		 select * from t_board where b_category = "1" or "2" order by b_date desc Limit 10 Offset #{postStart}
	</select>
	
    <!-- 페이지 총 amount -->
    <select id="board2Amount" resultType="int">
	    select count(*) from t_board where b_category = "1" and "2"
	</select>
    
    <select id = "board2Content" parameterType="int" resultType="kr.smhrd.model.BoardVO">
		select * from t_board where b_seq = #{b_seq}
    </select>
    
    <update id="board2Update" parameterType = "kr.smhrd.model.BoardVO">
		update t_board set b_title = #{b_title}, b_content = #{b_content}, b_category = #{b_category} where b_seq = #{b_seq}
    </update>
    
    <delete id="board2Delete">
		delete from t_board where b_seq = #{b_seq}
    </delete>
    
    
    
    
    
</mapper>