<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.model.ChildrenMapper">
    
    <select id = "ChildInfo" resultType="kr.smhrd.model.ChildrenVO">
		select * from t_children where m_id = #{m_id}        
    </select>
</mapper>