<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.model.DiaryMapper">
    
    
    <select id = "emotionList" resultType="kr.smhrd.model.EmotionVO">
		select * from t_emotion where m_id = #{m_id} order by e_seq desc       
    </select>
    
    <select id = "DiaryAllSelect" resultType="kr.smhrd.model.DiaryVO">
		select * from t_diary where m_id = #{m_id} order by d_seq desc 
    </select>
    
    <insert id="diaryInsert" parameterType = "kr.smhrd.model.DiaryVO">
		insert into t_diary(m_id, c_seq, d_title, d_content, d_msg,d_date)
		values(#{m_id}, #{c_seq}, #{d_title}, #{d_content}, #{d_msg}, #{d_date})
    </insert>
    
    <delete id="emotionDelete" parameterType = "kr.smhrd.model.DiaryVO">
		delete from t_emotion where m_id = #{m_id} and d_date = #{d_date}
    </delete>
    
    <delete id="diaryDelete" parameterType = "kr.smhrd.model.DiaryVO">
		delete from t_diary where m_id = #{m_id} and d_date = #{d_date}
    </delete>
</mapper>