<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.model.NoteMapper">
    
    <!-- 육아수첩 아이리스트 -->
    <select id="childrenList" resultType="kr.smhrd.model.ChildrenVO">
        select * from t_children where m_id = #{m_id}
    </select>
    
    <!-- 육아수첩 리스트 -->
    <select id="noteChild" parameterType="kr.smhrd.model.PoststartVO" resultType="kr.smhrd.model.NoteVO">
        <!-- select * from t_note where c_seq=#{c_seq} order by n_date desc Limit 10 Offset #{postStart} -->
        select * from children_note where c_seq=#{c_seq} order by n_date desc Limit 5 Offset #{postStart}
    </select>
    
    <!-- 페이지 총 amount -->
    <select id="noteAmount" resultType="int" parameterType="int">
	    select count(*) from children_note where c_seq=#{c_seq}
	</select>
    
    <insert id= "noteInsert" parameterType= "kr.smhrd.model.NoteVO">
        insert into t_note(m_id, c_seq, n_date, n_height, n_weight, n_significant, n_vaccine)
        values(#{m_id}, #{c_seq}, #{n_date}, #{n_height}, #{n_weight}, #{n_significant}, #{n_vaccine}) 
    </insert>
    
    <select id="noteContent" parameterType="int" resultType="kr.smhrd.model.NoteVO">
        select * from t_note where n_seq = #{n_seq}
    </select>
    
    <select id = "ChildInfo" resultType="kr.smhrd.model.ChildrenVO">
		select * from t_children where m_id=#{m_id}      
    </select>
    
    <select id="notechild" parameterType="String" resultType="kr.smhrd.model.NoteVO">
        select * from t_children where m_id = #{m_id}
    </select>
    
    <update id="noteUpdate" parameterType="kr.smhrd.model.NoteVO">
        update t_note set n_height, n_weight, n_significant = #{n_height}, #{n_weight}, #{n_significant} where n_seq=#{n_seq}
    </update>
    
    <delete id="noteDelete">
        delete from t_note where n_seq = #{n_seq}
    </delete>  
    
    	
</mapper>